@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 900 !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 900 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #b61e42 !important;
}

.swiper-pagination-bullet {
  background: #ffd8d8 !important;
  opacity: 1 !important;
}